<%- include("partials/header.ejs") %>

<main>
  <section class="secD not-active active">
    <h1>Day</h1>

    <form action="/" method="post" class="not-del">
      <input type="text" name="daily" placeholder="New task" class="inp" />
      <input type="submit" value="+" name="day" class="sub-btn" />
    </form>

    <ul class="list">
      <% newListItems.forEach(function(item){ %> <% if (item.type === "daily") {
      %>

      <li class="item">
        <span class="text"><%= item.name %></span>
        <form action="/day-change" method="post" class="btn-container">
          <input type="submit" name="penDact" class="pencil" value="✓"></input>
          <input type="submit" name="delDact" class="delete" value="x"></input>
        </form>
      </li>
      <% }}) %>
    </ul>

    <button class="less-btn">...</button>
  </section>

  <section class="secW not-active">
    <h1>Week</h1>

    <form action="/" method="post" class="not-del">
      <input type="text" name="weekly" placeholder="New task" class="inp" />
      <input type="submit" value="+" name="week" class="sub-btn" />
    </form>

    <ul class="list">
      <% newListItems.forEach(function(item){ %> <% if (item.type === "weekly")
      { %>
      <li class="item">
        <span class="text"><%= item.name %></span>
        <form action="/week-change" method="post" class="btn-container">
          <input type="submit" name="penWact" class="pencil" value="✓"></input>
          <input type="submit" name="delWact" class="delete" value="x"></input>
          <input type="hidden" name="itemName" value= <%= item.id %> />
        </form>
      </li>
      <% }}) %>
    </ul>

    <button class="less-btn">...</button>
  </section>
</main>

<script>
  $(document).ready(function () {
    $(".less-btn").click(function () {
      $(this).closest("section").toggleClass("full-height");
      $("footer").remove();
    });

    $(".pencil").click(function () {
      $(this).closest(".item").toggleClass("pencil-item");
    });

    const $sectionD = $(".secD");
    const $sectionW = $(".secW");

    $($sectionD).click((event) => {
      if ($sectionD.hasClass("active")) {
      } else {
        $sectionD.addClass("active");
        $sectionW.removeClass("active");
      }
    });
    $($sectionW).click((event) => {
      if ($sectionW.hasClass("active")) {
      } else {
        $sectionW.addClass("active");
        $sectionD.removeClass("active");
      }
    });
  });
</script>

<%-include("partials/footer.ejs") %>
